---
import "~/styles/displays.css";

import SocialLinks from "~/components/ui/SocialLinks.astro";
import { AUTHOR } from "~/consts";

const today = new Date();
const copyright = `${today.getFullYear()} ${AUTHOR.name}. All rights reserved.`;
---

<footer>
  <hr />
  <div display-container-grid>
    <p>&copy; {copyright}</p>
    <SocialLinks style={{ justifyContent: "flex-end" }} />
  </div>
</footer>

<style>
  [display-container-grid] {
    --columns: 2;
    padding: var(--spacing-medium) 0;
  }
</style>
