---
import "~/styles/animations.css";

type Props = {
  href: string;
  variant?: "primary" | "secondary";
};

const { href, variant = "primary" } = Astro.props;
---

<a href={href} animation-hover class={`btn btn-${variant}`}>
  <slot />
</a>

<style>
  .btn {
    display: inline-block;
    padding: var(--spacing-medium) var(--spacing-large);
    border-radius: var(--border-radius);
    font-weight: bold;
    text-decoration: none;
  }

  .btn-primary {
    background-color: var(--color-accent);
    color: var(--color-white);
    box-shadow: var(--box-shadow);
  }

  .btn-secondary {
    background-color: transparent;
    color: var(--color-accent);
    border: var(--border-width) solid var(--color-accent);

    &:hover,
    &:active {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }
</style>
