---
import "~/styles/animations.css";
import "~/styles/displays.css";

type Props = {
  icon?: string;
  title: string;
  href?: string;
  noNewTab?: boolean;
};

const { icon, title, href, noNewTab } = Astro.props;

const Tag = href ? "a" : "div";
---

<Tag
  display-simple-flex
  animation-hover
  href={href}
  class="card"
  target={href && !noNewTab ? "_blank" : undefined}
  rel={href && !noNewTab ? "noopener noreferrer" : undefined}
>
  <h4>{icon && <span>{icon} &vert;</span>} {title}</h4>
  <div class="card-content">
    <slot />
  </div>
</Tag>

<style>
  .card {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: var(--spacing-large);
    width: 100%;
    height: 100%;

    background: rgb(var(--color-gray-light), 0.3);
    border-radius: var(--border-radius);
    border: var(--border-width) solid rgb(var(--color-gray-light), 0.5);

    &:hover,
    &:active {
      border-color: var(--color-accent-light);
    }
  }

  h4 {
    color: var(--color-accent);
  }

  .card-content {
    color: rgb(var(--color-gray-dark));
    width: 100%;
  }
</style>
