---
import { SITE } from "~/consts";
---

<a href="/"><img src="/favicon.svg" /><p>{SITE.title}</p></a>

<style>
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
  }
</style>
