---
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog');
---

<div id="container">
  <main>
    <section id="hero">
      <ul>
        {
          allBlogPosts.map((post) => (
            <li>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</div>
