---
import "~/styles/displays.css";
import Logo from "~/components/ui/Logo.astro";

type Props = {
  title: string;
  description?: string;
  disableLogo?: boolean;
};

const { title, description, disableLogo } = Astro.props;
---

<section display-simple-flex style={{flexDirection: "column"}}>
  <div class="hero-text">
    <h1>
      {title}
      {
        disableLogo ? null : (
          <Logo
            image={{ size: "1em" }}
            text={{ hidden: true }}
            disableLink={true}
          />
        )
      }
    </h1>
    {description && <strong>{description}</strong>}
  </div>

  <div display-simple-flex><slot /></div>
</section>

<style>
  .hero-text {
    flex-direction: column;
  }

  [display-simple-flex] {
    text-align: center;
  }
</style>
