* {
  /* === Brand Colors === */
  /* Remember to sync to favicon.svg */
  --color-accent: hsla(239, 85%, 67%, 1);
  --color-accent-dark: hsla(245, 58%, 51%, 1);
  --color-accent-light: hsla(230, 94%, 82%, 1);

  /* === Light Mode Colors === */
  --color-white: hsla(0, 0%, 90%, 1);
  --color-black: hsla(0, 0%, 10%, 1);
  --color-gray: hsla(0, 0%, 50%, 1);
  --color-gray-light: hsla(0, 0%, 75%, 1);
  --color-gray-dark: hsla(0, 0%, 25%, 1);

  /* === Breakpoints === */
  --screen-xl: 1280px;
  --screen-large: 960px;
  --screen-medium: 720px;
  --screen-small: 480px;
  --max-content-width: min(var(--screen-xl), 100dvw - 2 * var(--spacing-large));

  /* === Spacing (Desktop Default) === */
  --spacing-medium: 1rem;
  --spacing-xlarge: calc(3 * var(--spacing-medium));
  --spacing-large: calc(2 * var(--spacing-medium));
  --spacing-small: calc(0.5 * var(--spacing-medium));
  --spacing-xsmall: calc(0.25 * var(--spacing-medium));

  /* === Borders === */
  --border-radius: 12px;
  --border-width: 2px;

  /* === Effects === */
  --box-shadow:
    0 2px 6px hsla(var(--color-gray), 25%), 0 8px 24px hsla(var(--color-gray), 33%), 0 16px
    32px hsla(var(--color-gray), 33%);

  /* === Typography === */
  --font-ratio: 1.61803;

  /* === Responsive Spacing === */
  /* Tablet */
  @media (max-width: 720px) {
    --spacing-medium: 0.8rem;
  }

  /* Mobile */
  @media (max-width: 480px) {
    --spacing-medium: 0.5rem;
  }

  /* === Dark Mode === */
  @media (prefers-color-scheme: dark) {
    --color-accent: hsl(234, 89%, 74%);
    --color-accent-dark: hsl(228, 96%, 89%);
    --color-accent-light: hsl(239, 84%, 67%);

    --color-black: 248, 250, 252;
    --color-white: 15, 18, 25;
    --color-gray: 148, 163, 184;
    --color-gray-light: 30, 41, 59;
    --color-gray-dark: 226, 232, 240;
  }
}

body {
  font-family: "Atkinson", sans-serif;

  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  background-color: rgb(var(--color-white));
  color: rgb(var(--color-gray-dark));

  line-height: 1.7;
  word-wrap: break-word;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;

  padding: var(--spacing-large) var(--spacing-medium);
  max-width: var(--max-content-width);
}

/* Typography Grouping */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--spacing-small) 0;
  color: rgb(var(--color-black));
  font-weight: 700;
}

h1 {
  font-size: calc(var(--spacing-large) * var(--font-ratio));
}

h2 {
  font-size: calc(var(--spacing-medium) * var(--font-ratio));
}

h3 {
  font-size: calc(var(--spacing-small) * var(--font-ratio));
}

a {
  color: var(--color-accent);
  text-underline-offset: var(--border-width);
  transition: color 0.2s ease;

  &:hover,
  &:active {
    color: var(--color-accent-dark);
  }
}

/* Content Elements */
.prose {
  & p {
    margin-bottom: var(--spacing-small);
  }

  & blockquote {
    border-left: var(--border-width) solid var(--color-accent);
    padding: var(--spacing-small);
    margin: var(--spacing-small) 0;
    font-style: italic;
    color: rgb(var(--color-gray));
  }

  hr {
    margin: var(--spacing-medium) 0;
  }

  ol,
  ul {
    margin: 1rem;
    list-style: disc;
  }
}

code {
  padding: calc(var(--spacing-small) * 0.5) var(--spacing-small);
  background-color: rgb(var(--color-gray-light));
  border-radius: var(--border-radius);
  font-size: 0.8em;
  font-family: ui-monospace, monospace;
}

pre {
  padding: 1.5em;
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-gray-light), 0.5);
  overflow-x: auto;
  border: 1px solid rgb(var(--color-gray-light));
  margin: var(--spacing-medium) 0;

  & > code {
    all: unset;
  }
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--color-gray-light));
}

img {
  max-width: var(--max-content-width);
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
