---
import Head from '~/components/data/Head.astro';
---

<!doctype html>
<html lang="en">
  <head><Head /></head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
